{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
	<a href="/post/create">Create post</a>

    {% for entry in entries %}
	<div class="panel panel-default">
		<div class="panel-heading">
        		<h2 class="panel-title"><a href="/post/{{ entry.slug }}">{{ entry.title }}</a></h2>
		</div>
		<div class="panel-body">
		</div>
	</div>
    {% endfor %}
{% endblock %}
