{% extends 'base.html.twig' %}

{% block title %}Nuevo Post{% endblock %}

{% block body %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Datos</h3>
	</div>
	<div class="panel-body">
		{{ form_start(form) }}
			<div class="form-group">
				{{ form_label(form.title) }}
				{{ form_errors(form.title) }}
				{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group">
				{{ form_label(form.content) }}
				{{ form_errors(form.content) }}
				{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}	
			</div>
			{{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
		{{ form_end(form) }}
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
<script>
	$(document).ready(function () {
		CKEDITOR.replace('form_content');
	});	
</script>
{% endblock %}
