{% extends 'base.html.twig' %}

{% block body %}

{% for flash_message in app.session.flashbag.get('message') %}
	<div>
		{{ flash_message  }}
	</div>
{% endfor %}

<a href="/blog">Regresar</a>

{% endblock %}
