{% extends 'base.html.twig' %}

{% block body %}

<h2>{{ post.title  }}</h2>
{{ post.content | raw }}

<div id="disqus_thread"></div>

{% endblock %}

{% block javascripts %}

<script>
	var disqus_config = function () {
	this.page.url = {{ post.slug }};
	this.page.identifier = {{ post.id }};
	};

	(function() {
		var d = document, s = d.createElement('script');

		s.src = '//guzmanbrandcreativa.disqus.com/embed.js';

		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{% endblock %}
